modules = ["bash", "nodejs-20", "web", "postgresql-16"]
run = "node src/server.js"

[nix]
channel = "stable-25_05"
packages = ["static-web-server", "file"]

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "node src/server.js"]

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true
