.map {
  width: 100%;
  height: 100%;
}

.map-controls {
  position: absolute;
  right: 16px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 10;
}

.map-control-btn {
  width: 48px;
  height: 48px;
  background: white;
  border-radius: 50%;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.map-control-btn:active {
  transform: scale(0.95);
}
