/* StoreHero CSS Module */

.hero {
  position: relative;
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.imgWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
  pointer-events: none;
}
